body{
    font-family: 'Raleway', sans-serif;
}

header{
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
}
form{
    margin: 8em;
}

.card img{
    width: auto;
    height: 12em;
}